body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(179,184,255);
    background: linear-gradient(0deg, rgba(179,184,255,1) 0%, rgba(255,201,0,1) 0%, rgba(252,252,252,1) 100%);
}

.container {
    text-align: center;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.5);

}


.image {
    width: 200px; /* Defina o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

#image-container {
    margin-top: 50px;
}

#button-container {
    margin-top: 30px;
}

.button-link {
    display: block;
    width: 150px; /* Define a largura dos botões */
    padding: 10px;
    background-color: #cf0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 auto 15px; /* Centraliza os botões e adiciona espaçamento inferior */
}

.button-link + .button-link {
    margin-top: 35px; /* Adiciona espaço entre os botões */
}
